@use "variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent; // Pour les navigateurs basés sur WebKit
    -webkit-touch-callout: none; // Désactive le menu contextuel lors du clic prolongé
}

::selection {
    color: $dark;
    background: rgba($color: $white, $alpha: 0.8);
}

::-webkit-scrollbar-track {
    background-color: $black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: rgba($white, 0.1) -30px -30px 60px -12px inset, rgba($electric, 0.15) -60px -30px 60px -18px inset;
}

body {
    background: $black;
    font-family: $font-geist-sans;
}

code,
pre {
    font-family: $font-geist-mono;
}

main {
    display: grid;
    min-height: 100dvh;
}

a {
    text-decoration: none;
    color: rgba($color: $white, $alpha: 0.8);
    position: relative;

    &.blank {
        display: flex;
        align-items: center;
        padding-right: 20px;
        margin-right: 40px;
        gap: 10px;
        width: fit-content;

        &::before {
            position: absolute;
            right: 0;
            bottom: 8px;
            content: '';
            width: 10px;
            height: 10px;
            border-top: 1px solid rgba($color: $purple, $alpha: 0.8);
            border-right: 1px solid rgba($color: $purple, $alpha: 0.8);
            transition: all 0.35s ease-in-out;
        }

        &:hover {
            &::before {
                border-top: 1px solid rgba($color: $pink, $alpha: 0.8);
                border-right: 1px solid rgba($color: $pink, $alpha: 0.8);
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
}