@use "variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    color: $dark;
    background: rgba($color: $white, $alpha: 0.8);
}

body {
    background: $black;
    font-family: $font-geist-sans;
}

code,
pre {
    font-family: $font-geist-mono;
}

main {
    display: grid;
}

a {
    text-decoration: none;
    color: rgba($color: $white, $alpha: 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
}