$font-geist-sans: 'Geist', sans-serif;
$font-geist-mono: 'Geist Mono', monospace;
$ubuntu: 'Ubuntu', serif;

$black: #040404;
$dark: #1a1a1a;
$white: #ffffff;

$electric: #00f0ff;
$purple: #6a0dad;
$pink: #ff6ec7;
