$font-geist-sans: "Geist", sans-serif;
$font-geist-mono: "Geist Mono", monospace;
$ubuntu: "Ubuntu", serif;

$black: #000000;
$dark: #1a1a1a;
$white: #ffffff;

$electric: #00f0ff;
$purple: #6A0DAD;
$pink: #FF6EC7;