@use './../../styles/variables.scss' as *;

.cookieBanner {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    border-top: 1px solid $dark;
    background: rgba($color: $black, $alpha: 0.75);
    display: grid;
    gap: 20px;
    align-items: center;

    .coookieBtn {
        display: flex;
        justify-content: center;
        gap: 20px;

        button {
            padding: 10px 20px;
            border: 2px solid $dark;
            border-radius: 10px;
            transition: box-shadow 0.35s ease-in-out;

            &:hover {
                box-shadow: rgba($white, 0.1) -30px -30px 60px -12px inset, rgba($electric, 0.15) -60px -30px 60px -18px inset;
            }

            &.acceptCookie {
                font-weight: 400;
            }
        }
    }
}

@media (min-width: 768px) {
    .cookieBanner {
        display: flex;
        justify-content: space-between;
    }
}