@use './../../../styles/variables.scss' as *;

#mainPortfolio {
    display: grid;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $dark;

    .mainPortfolioContainer {
        display: grid;
        width: 100%;
        position: relative;
        max-width: 1400px;
        padding: 40px 20px;
        margin: auto;
        gap: 40px;
        .projectCard {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            width: 100%;
            border-radius: 5px;
            &:nth-child(3n + 1) {
                background: linear-gradient(
                    150deg,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(26, 26, 26, 0.52) 55%,
                    rgba($purple, 0.5) 100%
                );
            }
            &:nth-child(3n + 2) {
                background: linear-gradient(
                    150deg,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(26, 26, 26, 0.52) 55%,
                    rgba($electric, 0.5) 100%
                );
            }
            &:nth-child(3n + 3) {
                background: linear-gradient(
                    150deg,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(26, 26, 26, 0.52) 55%,
                    rgba($pink, 0.5) 100%
                );
            }
            .projectCardHero {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                .projectTitle {
                    display: flex;
                    flex-direction: column;
                    h3 {
                        font-weight: 300;
                        font-size: clamp(40px, 6vw, 80px);
                        text-transform: uppercase;
                    }
                    h4 {
                        font-weight: 200;
                        font-size: clamp(20px, 3vw, 40px);
                        line-height: 1;
                        opacity: 0.75;
                    }
                }
                .projectImage {
                    img {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        opacity: 0.85;
                        border-radius: 2px;
                        object-fit: contain;
                    }
                }
            }
            .projectCardContent {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                .projectTech {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    margin-top: 5px;
                    span {
                        padding: 5px 10px;
                        border: 2px solid $dark;
                        border-radius: 10px;
                        font-size: 12px;
                        font-weight: 600;
                        color: rgba($color: $white, $alpha: 0.5);
                    }
                }
                .projectDescription {
                    padding: 10px 0;
                    display: grid;
                    row-gap: 10px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #mainPortfolio {
        .mainPortfolioContainer {
            padding: 80px 20px;
            .projectCard {
                padding: 25px;
            }
        }
    }
}

@media (min-width: 992px) {
    #mainPortfolio {
        .mainPortfolioContainer {
            row-gap: 120px;
            .projectCard {
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                padding: 0;
                background: linear-gradient(
                    140deg,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(26, 26, 26, 0.52) 75%,
                    rgba(106, 13, 173, 0.75) 100%
                );
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-top: 1px solid rgba($color: $white, $alpha: 0.75);
                    border-left: 1px solid rgba($color: $white, $alpha: 0.75);
                }
                .projectCardHero {
                    position: relative;
                    padding: 30px 30px 0;
                    .projectImage {
                        padding: 10px 0 30px;
                    }
                }
                .projectCardContent {
                    margin-top: auto;
                    height: fit-content;
                    padding: 30px;
                    .projectTech {
                        position: absolute;
                        top: 30px;
                        right: 30px;
                    }
                    .projectDescription {
                        padding: 20px 10px;
                    }
                }
            }
        }
    }
}
