@use "./../../../styles/variables.scss" as *;

#hero {
    display: grid;
    position: relative;
    width: 100%;
    overflow: hidden;

    .heroHeaderContainer {
        display: grid;
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        position: relative;

        .heroHeaderBackground {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('/background_abstract_white.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            animation: spin 60s infinite linear;
            height: 125vh;
            opacity: 0;
            will-change: opacity;
        }

        @keyframes spin {
            0% {
                transform: rotate3d(0, 0, 0, 0deg) scale(1) translate(0, 0);
            }

            25% {
                transform: rotate3d(1, 0, 0, 0.1turn) scale(1.15) translate(-5%, -5%);
            }

            50% {
                transform: rotate3d(1, 0, 1, 0.1turn) scale(1.25) translate(-10%, -10%);
            }

            75% {
                transform: rotate3d(1, 0, 0, 0.1turn) scale(1.15) translate(-5%, -5%);
            }

            100% {
                transform: rotate3d(0, 0, 0, 0deg) scale(1) translate(0, 0);
            }
        }

        .heroHeaderTitle {
            max-width: 1660px;
            margin: auto;
            display: grid;
            height: 100%;
            width: 100%;
            padding-inline: 40px;

            h1 {
                display: flex;
                align-items: start;
                font-size: 3.5vw;
                font-weight: 300;
                height: fit-content;
                user-select: none;
                opacity: 0;
                order: 2;
                will-change: opacity;
            }

            h2 {
                display: flex;
                align-items: end;
                font-size: 12vw;
                text-transform: uppercase;
                font-weight: 800;
                opacity: 0;
                height: fit-content;
                align-self: end;
                opacity: 0;
                order: 1;
                will-change: opacity;
            }
        }
    }
}

@media (min-width: 768px) {
    #hero {
        .heroHeaderContainer {
            .heroHeaderTitle {
                padding-inline: 80px;

                h1 {
                    font-size: 2.5vw;
                }

                h2 {
                    font-size: 8vw;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #hero {
        padding-inline: 20px;

        .heroHeaderContainer {
            .heroHeaderBackground {
                width: 125vw;
            }

            .heroHeaderTitle {

                h1 {
                    font-size: 2vw;
                }

                h2 {
                    font-size: 6vw;
                }
            }
        }
    }
}