@use '../../styles/variables.scss' as *;

.navbar {
    max-width: 1400px;
    padding-inline: 10px;
    margin: auto;

    .navbarContainer {
        box-shadow: 0px 5px 18px hsla(0, 0%, 80%, 0.1);
        border: 1px solid $dark;
        border-radius: 20px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        background: $black;

        .logo {
            position: relative;
            width: fit-content;
            height: 50px;
            justify-self: start;
            z-index: 99;

            a {
                display: flex;
                width: fit-content;
                height: 100%;
                align-items: center;
                gap: 10px;
                text-transform: uppercase;
                margin-left: 10px;
                font-size: 20px;
                font-weight: 300;
                color: transparent;
                opacity: 0.8;
                background-clip: text;
                background-image: radial-gradient(
                        49% 81% at 45% 47%,
                        #00f0ff 0%,
                        #073aff00 100%
                    ),
                    radial-gradient(
                        113% 91% at 17% -2%,
                        #6a0dad 1%,
                        #ff000000 99%
                    ),
                    radial-gradient(
                        142% 91% at 83% 7%,
                        #ff6ec7 1%,
                        #ff000000 99%
                    ),
                    radial-gradient(
                        142% 91% at -6% 74%,
                        #1a1a1a 1%,
                        #ff000000 99%
                    ),
                    radial-gradient(
                        142% 91% at 111% 84%,
                        #1a1a1a 0%,
                        #ff0000ff 100%
                    );

                img {
                    object-fit: contain;
                    width: fit-content !important;
                    position: initial !important;
                    max-height: 40px;
                    opacity: 0.8;
                    display: none;
                }
            }
        }

        .menuContainer {
            display: flex;
            align-items: center;
            position: relative;
            justify-self: end;
            justify-content: end;
            width: 100%;

            .burger {
                z-index: 99;

                .ham {
                    cursor: pointer;
                    transition: transform 400ms;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    width: 40px;
                }

                .hamRotate.active {
                    transform: rotate(45deg);
                }

                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms,
                        stroke 0.3s ease-in-out;
                    stroke: $white;
                    stroke-width: 5.5;
                    stroke-linecap: round;
                }

                .top {
                    stroke-dasharray: 40 139;
                }

                .bottom {
                    stroke-dasharray: 40 180;
                }

                &.active {
                    .ham {
                        transform: rotate(45deg);
                    }

                    .top {
                        stroke-dashoffset: -98px;
                    }

                    .bottom {
                        stroke-dashoffset: -138px;
                    }

                    .line {
                        &:last-child {
                            stroke: $electric;
                        }
                    }
                }
            }

            .menu {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: $black;
                transform: translateX(-100%);
                transition: transform 0.35s ease-in-out,
                    opacity 0.35s ease-in-out;
                opacity: 0;
                display: flex;
                flex-direction: column;
                z-index: 98;

                ul {
                    position: relative;
                    display: grid;
                    gap: 20px;
                    top: 92px;
                    margin-top: 20px;
                    padding-inline: 20px;

                    li {
                        position: relative;
                        display: flex;
                        padding-inline: 20px;
                        line-height: normal;

                        a {
                            color: $white;
                            opacity: 0.8;
                            font-size: 10vw;
                            font-weight: 800;
                            display: flex;
                            width: 100%;
                            height: 100%;
                            overflow: clip;

                            span {
                                &:nth-child(2) {
                                    position: absolute;
                                    top: 100%;
                                }
                            }
                        }
                        // &:has(a.active) {
                        //     &::before {
                        //         content: '';
                        //         position: absolute;
                        //         bottom: -5px;
                        //         left: 50%;
                        //         transform: translateX(-50%);
                        //         width: 15px;
                        //         height: 1px;
                        //         display: flex;
                        //     }
                        //     &:nth-child(1) {
                        //         &::before {
                        //             background: transparent;
                        //         }
                        //     }
                        //     &:nth-child(2) {
                        //         &::before {
                        //             background: rgba($electric, 0.35);
                        //         }
                        //     }
                        //     &:nth-child(3) {
                        //         &::before {
                        //             background: rgba($purple, 0.5);
                        //         }
                        //     }
                        //     &:nth-child(4) {
                        //         &::before {
                        //             background: rgba($pink, 0.35);
                        //         }
                        //     }
                        // }
                    }
                }

                .socials {
                    position: absolute;
                    bottom: 40px;
                    left: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 10px;

                    a {
                        display: flex;
                        width: fit-content;
                        height: 100%;
                        padding: 20px;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid $dark;
                        border-radius: 10px;
                        transition: box-shadow 0.35s ease-in-out;

                        &:hover {
                            box-shadow: rgba($white, 0.1) -30px -30px 60px -12px
                                    inset,
                                rgba($electric, 0.15) -60px -30px 60px -18px inset;
                        }
                    }
                }
            }

            &.active {
                .menu {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        padding-inline: 20px;

        .navbarContainer {
            .menuContainer {
                .menu {
                    ul {
                        li {
                            a {
                                font-size: 8vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .navbar {
        margin: auto;

        .navbarContainer {
            padding-inline: 10px;

            .logo {
                margin-left: 20px;
            }

            .menuContainer {
                .burger {
                    display: none;
                }

                .menu {
                    position: initial;
                    opacity: 1;
                    height: auto;
                    transform: translateX(0);
                    flex-direction: row;
                    align-items: center;
                    justify-content: end;

                    ul {
                        display: flex;
                        margin: 0;
                        top: 0;

                        li {
                            padding-inline: 10px;

                            a {
                                font-size: 20px;
                                font-weight: 500;
                            }
                        }
                    }

                    .socials {
                        position: initial;
                        width: auto;
                    }
                }
            }
        }
    }
}
