@use './../../../styles/variables.scss' as *;

#project {
    display: grid;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $dark;
    .projectContainer {
        display: grid;
        width: 100%;
        position: relative;
        max-width: 1400px;
        padding: 40px 20px;
        margin: auto;
        gap: 40px;
        article {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 10px;
                height: 10px;
                border-top: 1px solid rgba($color: $white, $alpha: 0.75);
                border-left: 1px solid rgba($color: $white, $alpha: 0.75);
                transition: all 0.35s ease-in-out;
            }
            &::after {
                position: absolute;
                bottom: 0;
                right: 0;
                content: '';
                width: 10px;
                height: 10px;
                border-bottom: 1px solid rgba($color: $white, $alpha: 0.75);
                border-right: 1px solid rgba($color: $white, $alpha: 0.75);
                transition: all 0.35s ease-in-out;
            }
            .projectTitle {
                h4 {
                    font-weight: 300;
                    font-size: 8vw;
                    text-transform: uppercase;
                }
                h5 {
                    font-weight: 200;
                    font-size: 4vw;
                    opacity: 0.75;
                }
                .projectTitleStack {
                    display: flex;
                    gap: 5px;
                    margin-top: 20px;
                    span {
                        padding: 5px 10px;
                        border: 2px solid $dark;
                        border-radius: 10px;
                        font-size: 12px;
                        font-weight: 600;
                        box-shadow: 0px 5px 18px hsla(0, 0%, 80%, 0.1);
                        &:nth-child(3n + 1) {
                            color: rgba($color: $electric, $alpha: 0.5);
                        }
                        &:nth-child(3n + 2) {
                            color: rgba($color: $pink, $alpha: 0.5);
                        }
                        &:nth-child(3n + 3) {
                            color: rgba($color: $purple, $alpha: 0.5);
                        }
                    }
                }
            }
            .projectImage {
                img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.85;
                    border-radius: 2px;
                    object-fit: contain;
                }
            }
            .projectContent {
                p {
                    text-align: justify;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #project {
        .projectContainer {
            padding: 80px 20px;
            gap: 80px;
            article {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
                &:nth-child(even) {
                    .projectTitle {
                        grid-area: 1 / 1 / 2 / 2;
                        align-self: end;
                        h4 {
                            font-size: 4vw;
                        }

                        h5 {
                            font-size: 2vw;
                        }
                    }
                    .projectImage {
                        grid-area: 1 / 2 / 3 / 3;
                    }
                    .projectContent {
                        grid-area: 2 / 1 / 3 / 2;
                    }
                }
                &:nth-child(odd) {
                    .projectTitle {
                        grid-area: 1 / 2 / 2 / 3;
                        align-self: end;
                        justify-self: end;
                        text-align: end;
                        h4 {
                            font-size: 4vw;
                        }
                        h5 {
                            font-size: 2vw;
                        }
                        .projectTitleStack {
                            justify-content: end;
                        }
                    }
                    .projectImage {
                        grid-area: 1 / 1 / 3 / 2;
                    }
                    .projectContent {
                        grid-area: 2 / 2 / 3 / 3;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #project {
        .projectContainer {
            gap: 120px;
        }
    }
}
