@use "./../../../styles/variables.scss" as *;

#stack {
    display: grid;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $dark;

    .stackContainer {
        display: grid;
        width: 100%;
        position: relative;
        max-width: 1400px;
        padding: 40px 20px;
        margin: auto;
        gap: 40px;

        article {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 20px;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 10px;
                height: 10px;
                border-top: 1px solid rgba($color: $white, $alpha: 0.75);
                border-left: 1px solid rgba($color: $white, $alpha: 0.75);
                transition: all 0.35s ease-in-out;
            }

            &::after {
                position: absolute;
                bottom: 0;
                right: 0;
                content: '';
                width: 10px;
                height: 10px;
                border-bottom: 1px solid rgba($color: $white, $alpha: 0.75);
                border-right: 1px solid rgba($color: $white, $alpha: 0.75);
                transition: all 0.35s ease-in-out;
            }

            .stackTitle {
                h4 {
                    font-weight: 300;
                    font-size: 8vw;
                    text-transform: uppercase;
                }

                h5 {
                    font-weight: 200;
                    font-size: 4vw;
                    opacity: 0.75;
                }
            }

            .stackImage {
                img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.85;
                }
            }

            .stackContent {
                p {
                    text-align: justify;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #stack {
        .stackContainer {
            padding: 80px 20px;
            gap: 80px;

            article {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                &:nth-child(even) {
                    .stackTitle {
                        grid-area: 1 / 1 / 2 / 2;
                        align-self: end;

                        h4 {
                            font-size: 4vw;
                        }

                        h5 {
                            font-size: 2vw;
                        }
                    }

                    .stackImage {
                        grid-area: 1 / 2 / 3 / 3;
                    }

                    .stackContent {
                        grid-area: 2 / 1 / 3 / 2;
                    }
                }

                &:nth-child(odd) {
                    .stackTitle {
                        grid-area: 1 / 2 / 2 / 3;
                        align-self: end;
                        justify-self: end;
                        text-align: end;

                        h4 {
                            font-size: 4vw;
                        }

                        h5 {
                            font-size: 2vw;
                        }
                    }

                    .stackImage {
                        grid-area: 1 / 1 / 3 / 2;
                    }

                    .stackContent {
                        grid-area: 2 / 2 / 3 / 3;
                    }
                }
            }
        }
    }
}