@use './../../../styles/variables.scss' as *;

#heroProfile {
    display: grid;
    position: relative;
    width: 100%;
    overflow: hidden;

    .heroProfileContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        min-height: 50vh;
        position: relative;
        padding-inline: 40px;
        margin: auto;

        .heroBackground {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            background-image: url('/abstract_background_profile.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        h1 {
            font-size: 12vw;
            text-transform: uppercase;
            font-weight: 800;
            opacity: 0;
            height: fit-content;
            opacity: 0;
        }

        h2 {
            font-size: 3.5vw;
            font-weight: 300;
            height: fit-content;
            opacity: 0;
        }
    }
}

@media (min-width: 768px) {
    #heroProfile {
        .heroProfileContainer {
            h1 {
                text-align: center;
                font-size: 8vw;
            }

            h2 {
                text-align: center;
            }
        }
    }
}

@media (min-width: 1200px) {
    #heroProfile {
        .heroProfileContainer {
            h1 {
                font-size: 6.5vw;
            }
        }
    }
}
