@use "./../../../styles/variables.scss" as *;

#tech {
    display: grid;
    position: relative;
    width: 100%;
    overflow: hidden;

    .techContainer {
        display: grid;
        width: 100%;
        position: relative;
    }
}