@use "./../../../styles/variables.scss" as *;

#tech {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $dark;

    .techContainer {
        display: flex;
        width: 100%;
        position: relative;
        justify-content: center;
        gap: 20px;
        overflow: hidden;
        max-width: 1600px;
        max-height: 660px;
        margin: auto;

        .techLayout {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-image: linear-gradient(180deg, $black 0%, #FFFFFF00 35%), linear-gradient(270deg, $black 0%, #FFFFFF00 35%), linear-gradient(0deg, $black 0%, #FFFFFF00 35%), linear-gradient(90deg, $black 0%, #FFFFFF00 35%);
            pointer-events: none;
        }

        .leftColumn,
        .rightColumn {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 50%;

            .techCard {
                padding: 20px;
                background: rgba($color: $dark, $alpha: 0.75);
                min-height: 200px;
                margin: 10px 0;

                a {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    position: relative;

                    img {
                        object-fit: contain;
                        opacity: 0.9;
                        position: initial !important;
                        max-height: 100px;
                        max-width: 200px;
                    }

                    h5 {
                        color: rgba($color: $white, $alpha: 0.8);
                    }

                    &::before {
                        position: absolute;
                        right: 0;
                        top: 0;
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-top: 1px solid rgba($color: $purple, $alpha: 0.8);
                        border-right: 1px solid rgba($color: $purple, $alpha: 0.8);
                        transition: all 0.35s ease-in-out;
                    }

                    &:hover {
                        &::before {
                            border-top: 1px solid rgba($color: $pink, $alpha: 0.8);
                            border-right: 1px solid rgba($color: $pink, $alpha: 0.8);
                        }
                    }
                }

                &:hover {}
            }

            &:hover {
                animation-play-state: paused;
            }
        }

        .leftColumn {
            animation: scrollLeftColumn 60s linear infinite;
        }

        .rightColumn {
            animation: scrollRightColumn 60s linear infinite;
        }
    }
}

@keyframes scrollLeftColumn {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-633%);
    }
}

@keyframes scrollRightColumn {
    0% {
        transform: translateY(-633%);
    }

    100% {
        transform: translateY(0%);
    }
}