@use "./../../../styles/variables.scss" as *;

#presentation {
    display: grid;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $dark;

    .presentationContainer {
        display: grid;
        width: 100%;
        position: relative;
        max-width: 1600px;
        padding: 40px 20px;
        margin: auto;

        .textContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            p {
                font-size: 10vw;
                color: rgba($color: $white, $alpha: 0.8);
                transition: opacity 0.3s ease-out;
            }
        }
    }
}

@media (min-width: 992px) {
    #presentation {
        .presentationContainer {
            .textContainer {
                p {
                    font-size: 8vw;
                }
            }
        }
    }
}