@use './../../../styles/variables.scss' as *;

#profile {
    display: grid;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $dark;
    .profileContainer {
        display: grid;
        width: 100%;
        position: relative;
        max-width: 1400px;
        padding: 40px 20px;
        margin: auto;
        gap: 40px;
        z-index: 2;
        background: rgba($color: $black, $alpha: 0.2);
        .contentProfile {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .contentImageProfile {
                margin: auto;
                background: $black;
                display: flex;
                img {
                    width: 100%;
                    max-width: 400px;
                    height: fit-content;
                    border: 2px solid $dark;
                    border-radius: 10px;
                    opacity: 0.85;
                }
            }
            .contentTextProfile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                p {
                    line-height: 30px;
                    margin: 10px 0;
                    font-weight: 150;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                h3 {
                    font-family: $font-geist-mono;
                    opacity: 0.5;
                    text-transform: uppercase;
                    text-align: right;
                    margin-top: 20px;
                }
                .textWrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                }
                button {
                    position: relative;
                    display: flex;
                    width: 120px;
                    padding: 10px;
                    align-items: center;
                    justify-content: center;
                    margin: 20px auto;
                    font-weight: 500;
                    text-align: center;
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-top: 1px solid rgba($color: $white, $alpha: 0.75);
                        border-left: 1px solid
                            rgba($color: $white, $alpha: 0.75);
                        transition: all 0.35s ease-in-out;
                    }

                    &::after {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-bottom: 1px solid
                            rgba($color: $white, $alpha: 0.75);
                        border-right: 1px solid
                            rgba($color: $white, $alpha: 0.75);
                        transition: all 0.35s ease-in-out;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #profile {
        // SVG LINES
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/profile_background.svg') no-repeat center;
            background-size: cover;
            z-index: 0;
        }
        .profileContainer {
            .contentProfile {
                flex-direction: row;
                .contentImageProfile {
                    img {
                        min-width: 350px;
                    }
                }
                .contentTextProfile {
                    .textWrapper {
                        height: auto;
                        opacity: 1;
                        overflow: auto;
                    }
                    button {
                        display: none;
                    }
                    h3 {
                    }
                }
            }
        }
    }
}
