@use './../../../styles/variables.scss' as *;

#profile {
    display: grid;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $dark;

    .profileContainer {
        display: grid;
        width: 100%;
        position: relative;
        max-width: 1400px;
        padding: 40px 20px;
        margin: auto;
        gap: 40px;
        z-index: 2;
        background: rgba($color: $black, $alpha: 0.2);

        .contentProfile {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .contentImageProfile {
                margin: auto;
                background: $black;
                display: flex;

                img {
                    width: 100%;
                    max-width: 400px;
                    height: fit-content;
                    border: 2px solid $dark;
                    border-radius: 10px;
                    opacity: 0.85;
                }
            }

            .contentTextProfile {
                display: flex;
                flex-direction: column;
                gap: 20px;

                p {
                    line-height: 30px;
                }

                h3 {
                    font-family: $font-geist-mono;
                    opacity: 0.5;
                    text-transform: uppercase;
                    text-align: right;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #profile {
        // SVG LINES
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/profile_background.svg') no-repeat center;
            background-size: cover;
            z-index: 0;
        }
        .profileContainer {
            .contentProfile {
                flex-direction: row;
                .contentImageProfile {
                    img {
                        min-width: 350px;
                    }
                }
            }
        }
    }
}
